name: Update GitHub Pages

on:
  push:
    branches:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-*'
      - cd_update_pages

env:
  GIT_USER_NAME: EMMO Developers
  GIT_USER_EMAIL: "emmo@emmc.eu"

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Debug info
      run: |
        echo "GITHUB_REF_NAME=${GITHUB_REF_NAME}"

    - name: Setup Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install sphinx sphinxcontrib-globalsubs sphinx_design nbsphinx pydata-sphinx-theme
        pip install git+https://github.com/emmo-repo/EMMOntoPy.git@ontodoc2
        #pip install sphinx EMMOntoPy

    - name: Create and prepare build and public directories
      run: |
        mkdir build public
        if [ -d doc/_static ]; then cp -rf doc/_static/* build/. ; fi

    - name: Create ontologies for publishing
      run: |
        ontoconvert -sawe --base-iri="https://w3id.org/emmo#" --iri=https://w3id.org/emmo emmo.ttl public/emmo.ttl
        ontoconvert public/emmo.ttl public/emmo.owl

    - name: Generate html documentation
      run: |
        ontodoc --iri-regex=https://w3id.org/emmo --imported emmo.ttl build/emmo.rst
        sphinx-build "build/" "public/"

    - name: Checkout GitHub Pages for EMMO-repo
      uses: actions/checkout@v4
      with:
        repository: emmo-repo/emmo-repo.github.io
        path: pages
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
        ssh-strict: no

    - name: Copy to GitHub Pages
      run: |
        # Do not overwrite index.html
        rm public/index.html
        cp -rf public/* pages/.

    - name: Push to GitHub Pages
      run: |
        cd pages
        git config --global user.email "emmo@emmc.eu"
        git config --global user.name "EMMO Developer"
        git add --all
        if [ -n "$(git status --porcelain -uno)" ]; then \
          git commit -m 'Updated releasetable'; \
          git pull origin master; \
          git push origin master; \
        fi


    #- name: Publish
    #  uses: peaceiris/actions-gh-pages@v3
    #  if: github.ref == 'refs/heads/master'
    #  with:
    #    github_token: ${{ secrets.GITHUB_TOKEN }}
    #    publish_dir: ./public
    #    #keep_files: true
    #    #external_repository: emmo-repo emmo-repo.github.io
    #
    #    #publish_branch: master
    #    #force_orphan: true



#    - name: Install pandoc 2.1.2
#      run: |
#        #sudo apt-get install pandoc  # we need v2.1.2
#        wget https://github.com/jgm/pandoc/releases/download/2.1.2/pandoc-2.1.2-1-amd64.deb
#        sudo apt-get install ./pandoc-2.1.2-1-amd64.deb
#
#    - name: Install other dependencies
#      run: |
#        sudo apt-get install graphviz
#        sudo apt-get install texlive-xetex
#        sudo apt-get install texlive-latex-extra
#        pip install semver
#
#    - name: Checkout GitHub Pages for EMMO-repo
#      uses: actions/checkout@v4
#      with:
#        repository: emmo-repo/emmo-repo.github.io
#        path: ".github/pages"
#        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
#        ssh-strict: no
#
#    - name: Update GitHub Pages
#      run: |
#        .github/scripts/update_pages.sh -v -V ${GITHUB_REF_NAME}
