name: Update GitHub Pages

on: push
#on:
#  push:
#    branches:
#      - '[0-9]+.[0-9]+.[0-9]+'
#      - '[0-9]+.[0-9]+.[0-9]+-*'
#      - 'master'

env:
  GIT_USER_NAME: EMMO Developers
  GIT_USER_EMAIL: "emmo@emmc.eu"

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Debug info
      run: |
        echo "GITHUB_REF_NAME=${GITHUB_REF_NAME}"

    - name: Setup Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: 3.14

    - name: Install ROBOT
      run: |
        mkdir bin
        wget -nv https://github.com/ontodev/robot/releases/download/v1.9.6/robot.jar
        mv robot.jar bin/.
        curl https://raw.githubusercontent.com/ontodev/robot/master/bin/robot > bin/robot
        chmod +x bin/robot
        ls -l bin/

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install "EMMOntoPy[ontodoc] @ git+https://github.com/emmo-repo/EMMOntoPy.git@master"
        pip install sphinxcontrib-globalsubs

    - name: List install python packages
      run: |
        pip list

    - name: Create and prepare build and public directories
      run: |
        mkdir build public
        if [ -d doc/_static ]; then cp -rf doc/_static/* build/. ; fi

    - name: Create EMMO namespace from emax
      run: |
        ontoconvert -sawe \
          --iri="https://w3id.org/emmo" \
          --base-iri="https://w3id.org/emmo#" \
          --namespace="emmo:https://w3id.org/emmo#" \
          --rename-ontology="|w3id.org/emmo/([0-9][^/]*)/?emax|w3id.org/emmo/\\1|" \
          emax.ttl \
          public/emmo.ttl

    - name: Create HUME namespace from emax
      run: |
        ontoconvert -saw --rename-iris \
          --base-iri="https://w3id.org/emmo/hume#" \
          --namespace="hume:https://w3id.org/hume#" \
          --iri=https://w3id.org/emmo/hume \
          emax.ttl \
          public/hume.ttl

    - name: Create EMMO inferred
      run: |
        bin/robot reason \
          --reasoner HermiT \
          --remove-redundant-subclass-axioms true \
          --preserve-annotated-axioms true \
          --exclude-owl-thing true \
          --exclude-duplicate-axioms true \
          --input public/emmo.ttl \
          --output build/emmo-inferred.ttl
        ontoconvert --iri=https://w3id.org/emmo/inferred build/emmo-inferred.ttl public/emmo-inferred.ttl

    - name: Create HUME inferred
      run: |
        bin/robot reason \
          --reasoner HermiT \
          --remove-redundant-subclass-axioms true \
          --preserve-annotated-axioms true \
          --exclude-owl-thing true \
          --exclude-duplicate-axioms true \
          --input public/hume.ttl \
          --output build/hume-inferred.ttl
        ontoconvert --iri=https://w3id.org/emmo/hume-inferred build/hume-inferred.ttl public/hume-inferred.ttl

    - name: Create ontologies in rdfxml format
      run: |
        ontoconvert public/emmo.ttl public/emmo.owl
        ontoconvert public/hume.ttl public/hume.owl
        ontoconvert public/emmo-inferred.ttl public/emmo-inferred.owl
        ontoconvert public/hume-inferred.ttl public/hume-inferred.owl


    - name: Create directory structure for EMMO
      run: |
        ontoconvert -rwe \
          --catalog-file \
          --iri=https://w3id.org/emmo/emmo \
          --namespace="emmo:https://w3id.org/emmo#" \
          --output-format=turtle \
          emmo.ttl \
          public/emmo/emmo

    - name: Create directory structure for HUME
      run: |
        ontoconvert -rwe \
          --catalog-file \
          --rename-iris \
          --iri="https://w3id.org/emmo/hume" \
          --base-iri="https://w3id.org/emmo/hume#" \
          --namespace="hume:https://w3id.org/emmo/hume#" \
          --rename-ontology="|w3id.org/emmo/([0-9][^/]*/)?([^0-9].*)|w3id.org/emmo/\\1hume/\\2|" \
          --output-format=turtle \
          emmo.ttl \
          public/hume/hume

    - name: Generate html documentation (based on EMAX)
      run: |
        ontodoc --iri-regex=https://w3id.org/emmo --imported emax.ttl build/emmo.rst
        sphinx-build "build/" "public/"

    - name: Create html documentation for HUME
      run: |
        cp public/emmo.html public/hume.html

    - name: Create module table in markdown
      run: |
        python .github/scripts/module-table.py > build/module-table.md

    - name: Convert module-table from markdown to html
      uses: docker://pandoc/core:3.8
      with:
        args: --output public/module-table.html build/module-table.md

    - name: Checkout GitHub Pages for EMMO-repo
      uses: actions/checkout@v4
      with:
        repository: emmo-repo/emmo-repo.github.io
        path: pages
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
        ssh-strict: no

    - name: Copy to GitHub Pages
      run: |
        # Do not overwrite index.html
        rm public/index.html
        # Tell GitHub that this site is not generated with jekyll (otherwise will the reference documentation not show up correctly)
        touch public/.nojekyll
        # Copy to latest (root)
        cp -rf public/* pages/.
        # Copy to version
        VERSION=$(git rev-parse --abbrev-ref HEAD)
        if [ ! -d pages/versions/${VERSION} ]; then \
          mkdir pages/versions/${VERSION}
        fi
        cp -rf public/* pages/versions/${VERSION}/.

      # Domain repositories can use peaceiris/actions-gh-pages@v3.
      # However, since EMMO for historical reasons uses a separate repo
      # for its GitHub Pages, it is easier to use git directly.
    - name: Push to GitHub Pages
      run: |
        cd pages
        git config --global user.email "emmo@emmc.eu"
        git config --global user.name "EMMO Developer"
        git add --all
        if [ -n "$(git status --porcelain -uno)" ]; then \
          git commit -m 'Updated releasetable'; \
          git pull origin master; \
          git push origin master; \
        fi
